<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Band Generator</title>
</head>
<body>
    <main>
        <%- include("partials/header.ejs") %>
        
        <% if (locals.adjective && locals.noun) { %>
            <h1>
                <%= adjective %>
                <%= noun %>
            </h1>
            <% } else { %>
                <h1>what's up, welcome to the band generator 🤟</h1>
                <% } %>
                
                <form action="/submit" method="POST">
                    <input type="submit" value="Generate Name">
                </form>
                
                <%- include("partials/footer.ejs") %>
     </main>
</body>
</html>